<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  </head>

  <body>
    <!-- Page Content -->
    <div class="container">

      <!-- Portfolio Item Row -->
      <div class="row">
        <div class="col-md-4">
          <%= image_tag("farmer4.jpg", height: 300, width: 300, :class => "img-circle" ) %>
        </div>
        <div class="col-md-8">
          <span style="font-family:Microsoft JhengHei;">
          <h2 class="my-3"><b>畦遊季有機農場</b></h2><br>
          <h4 class="text-success">三個年輕人，一起返鄉種菜、大話畦遊</h4><br>
          <h4>原先在同家公司上班的謝祥文、張文棟、陳坤峯三個七年級生，由於看中了有
機產業的前景及友善農耕的永續性，因此決定一起返鄉合夥創業。分別就讀病
蟲害、建築工程、園藝的三人，就像西遊記裡的師兄弟一樣，各司其職，一同
面對農場經營的大小困難。透過科技化數據和前輩的協助，生產各式短期有機
葉菜，加上以工換菜、學校食農教育、社區大學授課等活動及社群行銷，帶領更
多人認識農業與在地生態。未來，他們將會繼續在林口的小山谷中扎根，守護
這片土地。</h4></span>
        </div>

        <div class="row">
          <div style="margin-top: 350px;">
          <div align="right">
          <%= image_tag("footer_4.jpg", height: 150, width: 800) %>
          </div>
        </div>
        </div>
      </div>
      <!-- /.row -->
    <!-- /.container -->

  </body>
</html>
