<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  </head>

  <body>
    <!-- Page Content -->
    <div class="container">

      <!-- Portfolio Item Row -->
      <div class="row">
        <div class="col-md-4">
          <%= image_tag("farmer1.jpg", height: 300, width: 300, :class => "img-circle" ) %>
        </div>
        <div class="col-md-8">
          <span style="font-family:Microsoft JhengHei;">
          <h2 class="my-3"><b>語林有機農場</b></h2></br>
          <h4 class="text-success">健康追求者，種下林口的有機夢</h4></br>
          <h4>邱語玲與林元郁夫婦倆，在職場看盡人情冷暖，拖著疲憊且不健康的身子，回
到林口幫公公一起守護田地。兩個第一次種田的人，雖然一切都需重頭學起，
但看到這些有機蔬果們長得頭好壯壯，工作雞在田裡奔跑吃蟲，換來簡單且快
樂的生活，夫復何求？在熟悉有機農業後，也不吝分享經驗，除了到社區大學
授課，更成立林口台地農夫市集，搭起在地有機小農與消費者間的橋梁。林口
的有機夢，就從這裡開始…。</h4></span>
        </div>
        <div class="row">
          <div style="margin-top: 350px;">
          <div align="right">
          <%= image_tag("footer_1.jpg", height: 150, width: 800) %>
          </div>
        </div>
        </div>
      </div>
      <!-- /.row -->
    <!-- /.container -->

    <!-- Bootstrap core JavaScript -->
    <!-- <script src="jquery/jquery.min.js"></script> -->
    <!-- <script src="jquery/bootstrap.bundle.min.js"></script> -->
  </body>
</html>
