<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  </head>

  <body>
    <!-- Page Content -->
    <div class="container">

      <!-- Portfolio Item Row -->
      <div class="row">
        <div class="col-md-4">
          <%= image_tag("farmer3.jpg", height: 300, width: 300, :class => "img-circle" ) %>
        </div>
        <div class="col-md-8">
          <span style="font-family:Microsoft JhengHei;">
          <h2 class="my-3"><b>周好小有機農場</b></h2><br>
          <h4 class="text-success">為家人種菜，讓家人好好吃飯，足好</h4><br>
          <h4>周好小農場，台語發音為「足好」，農場主人周業鑑從小在林口長大，在辭去
證券公司的工作後，回到哺育他的這塊土地，抱持為家人種出安心蔬菜的理念
，開始了有機栽培人生。回首草創時期，從慣行農法轉作有機的過程中，第一
年的收成連自己吃都不夠，經由語林農場的帶領、以及自己努力鑽研，利用生
物防治，搭配順應時節耕種適合的作物，產量漸趨穩定。現在，周業鑑要將周好
小農場的青花筍、絲瓜、西瓜…等有機蔬果，以及他為家人著想的心，一同分
享給大家。</h4></span>
        </div>
        <div class="row">
          <div style="margin-top: 350px;">
          <div align="right">
          <%= image_tag("footer_3.jpg", height: 150, width: 800) %>
          </div>
        </div>
        </div>
      </div>
      <!-- /.row -->
    <!-- /.container -->

  </body>
</html>
