<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  </head>

  <body>
    <!-- Page Content -->
    <div class="container">

      <!-- Portfolio Item Row -->
      <div class="row">
        <div class="col-md-4">
          <%= image_tag("farmer2.jpg", height: 300, width: 300, :class => "img-circle" ) %>
        </div>
        <div class="col-md-8">
          <span style="font-family:Microsoft JhengHei;">
          <h2 class="my-3"><b>芽寶寶有機農場</b></h2><br>
          <h4 class="text-success">堅強女子力，專利技術栽培的無介質活芽菜</h4><br>
          <h4>看似簡單的芽菜培養工作，隱藏著重重難關，劉金枝不斷嘗試各種芽菜的種植
方式與銷售組合，經過多年努力，屬於她的芽菜小王國已然成形。芽寶寶的無塵
培芽室採用恆溫、過濾、自動灑水系統，確保生產過程汙染風險降到最低，有
機種子經獨家專利無介質栽培技術播種，出貨時的芽菜仍維持著成長中的狀態
，保鮮期更長。芽寶寶的11種活芽菜，全經有機驗證，纖維高、維生素多、且充
滿酵素。洗後直接生吃，口齒間迸發的濃郁及營養，清甜響脆，就如同芽寶寶
的初衷，簡單而純粹。</h4></span>
        </div>
        <div class="row">
          <div style="margin-top: 350px;">
          <div align="right">
          <%= image_tag("footer_2.jpg", height: 150, width: 800) %>
          </div>
        </div>
        </div>
      </div>
      <!-- /.row -->
    <!-- /.container -->

  </body>
</html>
