<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  </head>

  <body>
    <!-- Page Content -->
    <div class="container">

      <!-- Portfolio Item Row -->
      <div class="row">
        <div class="col-md-4">
        <br><%= image_tag("introduction.jpg", height: 250, width: 350) %>
        </div>
        <div class="col-md-8">
          <span style="font-family:Microsoft JhengHei;">
          <h2 class="my-3"></h2><br>
          <h3 class="text-success">關於有機這條艱苦又幸福的路</h3><br>
          <h4>林口有機小農由四家具有相同理念的林口在地農場所組成----<br>語林有機農場、芽寶寶有機農場、周好小有機農場、畦遊季有機農場。<br>我們在從事有機的路上，曾經跌跌撞撞，但彼此之間的幫助與扶持，讓這條路不再難行。<br>如今，我們組成林口有機聯盟一年365天，提供多元的當季有機蔬菜、根莖、瓜果、芽菜。<br>我們喜愛我們的家鄉，我們珍惜我們的家人朋友，提供健康安心的蔬果，是我們表達愛的方式<br>和我們一起友善環境、永續經營，為我們所愛的人，奉上一盤來自林口的有機美味。</h4></span>
        </div>

        <div class="row">
          <div style="margin-top: 350px;">
          <div align="center">
          <%= image_tag("introduction0.jpg", height: 150, width: 1100) %>
          </div>
        </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div style="margin-top: 25px;">
            <div style="border-left: 2px solid #000; margin-bottom: 10px;">
                <h5 style="padding-left: 10px; font-family:Microsoft JhengHei;"><b>回到自己家鄉耕種是一種享受<b><br>
                <b>從一開始一片毫無生機的土地，經過大家一番努力，翻土、播種、種植、採收這些繁雜的步驟，慢慢的點綴整個土地，農作物逐漸成長茁壯，像孩子般的成長，與我們培養出無限的感情<br>為了就是讓大家能夠吃到健康安心的食物。<b></h5>
            </div>
          </div>
        </div>
        </div>
      </div>
      <!-- /.row -->
    <!-- /.container -->

  </body>
</html>
